*.class

# Package Files #
*.jar
*.war
*.ear

*.ipr
*.iws
*.iml
.classpath
.gradle*
build/*
target/*
out
.idea
draft.story
chromedriver.log
.classpath
.gitignore.swp
.project
.settings/
*.ids
gradle.properties
*.log
*.log.*
*.bak
cango*
bin/
.download/*
logs/*